@use "../theme";
@use "../utilities" as u;

.gallery {
    display: flex;
    flex-direction: column;
    padding: theme.size("padding" "page");
    background-color: theme.color("brand"  "5");
    @include u.text-container();
}

.gallery__images {
    margin-top: 1em;
    .gallery--bottom & {
        margin-bottom: 2em;
    }
    display: grid;
    gap: theme.size("spacing" "xl");
    @media screen and (min-width: theme.device("sm")) {
        grid-template-columns: 1fr 1fr;
    }
}

.gallery__image-container {
    background-color: theme.color("brand"  "4");
}

.gallery__image {
    position: relative;
    width: 100%;
    height: auto;
}
