<section class="gallery gallery--bottom">
    <h2>Примеры изготовленных портретов</h2>
    <p>Данные фото не полностью отражают реальные цвета портретов. Перспектива некоторых работ на снимках искажена.</p>
    {{ u.gallery("bottom") }}
    {% markdown %}
        {% include "src/md/gallery_bottom_text.md" %}
    {% endmarkdown %}
</section>