<section class="gallery gallery--bottom">
    <h2>Галерея</h2>
    <p>Выберите примерный фон или образ для вашего портрета:</p>
    {{ u.gallery("bottom") }}
    <p>
        Эти диджитал портреты я создаю, используя самые современные, передовые технологии, которые открыли огромное пространство для творчества. 
        Я много лет училась, чтобы добиться такого качества этих артов. 
        Изображение будет смотреться как настоящая картина, но при  этом подобный проект обойдется вам гораздо дешевле, чем нарисованный тардиционно.
    </p>
    <p>
        Портрет на холсте «В образе» — это отличный подарок по любому случаю. Wow-эффект гарантирован!
    </p>
</section>