<section class="gallery gallery--bottom">
    <h2>Галерея</h2>
    <p>Выберите примерный фон или образ для вашего портрета:</p>
    {{ u.gallery("bottom") }}
    {% markdown %}
        {% include "src/md/gallery_bottom_text.md" %}
    {% endmarkdown %}
</section>