{% import "../utilities.njk" as u with context %}
<main class="page__block page__block--main main">
    {% include "./greeting.njk" %}
    {{ u.gallery("top", "Примеры") }}
    {% include "./price_list.njk" %}
    {% include "./sizes.njk" %}
    {% include "./workflow.njk" %}
    {{ u.gallery("bottom", "Галерея", "Выберите примерный фон или образ для вашего портрета:") }}
</main>