{% import "../utilities.njk" as u with context %}
<main class="page__block page__block--main main">
    {% include "./greeting.njk" %}
    {% include "./gallery_top.njk" %}
    {% include "./price_list.njk" %}
    {% include "./sizes.njk" %}
    {% include "./workflow.njk" %}
    {% include "./contacts_mid.njk" %}
    {% include "./gallery_bottom.njk" %}
    {% include "./reviews.njk" %}
</main>