{% import "../utilities.njk" as u with context %}

<header class="page__block page__block--header hero">
    <div class="hero__content">
        <h1 class="hero__heading">
            <span class="hero__heading-text hero__heading-text--line-1">Арт-портреты</span>
            <span class="hero__heading-text hero__heading-text--line-2">по фото на холсте</span>
            <span class="hero__heading-text hero__heading-text--line-3">от художника Морозовой Олеси</span>
            <span class="hero__heading-text hero__heading-text--line-4">Доставка по всей России</span>
        </h1>
        <div class="hero__contacts">
            {{ u.icon_link("whatsapp") }}
            {{ u.icon_link("phone") }}
        </div>
    </div>
</header>