{% macro list(items) %}
    {% for item in items %}
            <li>
            {{ item.width }}x{{ item.height }} см. — {{ item.price }} руб.
            {% if item.action %}
                <strong>Сейчас идёт АКЦИЯ на портреты этого размера — {{ item.action }} руб. вместо {{ item.price }} руб!</strong>
            {% endif %}
            </li>
    {% endfor %}
{% endmacro %}

<section class="price-list">
    <h2>Цены</h2>
    <p>Печать портрета на натуральном холсте с натяжкой на деревянный подрамник. Цена указана за изображение одного человека, за каждое дополнительное лицо на портрете прибавляем 1000 руб.</p>
    <ul class="price-list__list price-list__list--main">
    {{ list(DATA.priceList.main)}}
    </ul>
    <ul class="price-list__list price-list__list--extra">
    {% for item in DATA.priceList.extra %}
        <li>
            {{ item.item }} — {{ item.price }}
        </li>
    {% endfor %}
    </ul>
    <hr class="price-list__hr">
    <p>При желании вы можете заказать роспись напечатанного портрета акриловыми красками. Цена указана за изображение одного человека, за каждое дополнительное лицо на портрете прибавляем 2600 руб.</p>
    <ul class="price-list__list price-list__list--acryl">
        {{ list(DATA.priceList.acryl)}}    
    </ul>
    <hr class="price-list__hr">
    <h2>Как заказать портрет</h2>
    <ol>
        <li>Вы присылаете свои фотографии  и пожелания любым удобным для вас способом (в Whatsapp, в соц. сети Вконтакте или по электронной почте). </li>
        <li>Я нарисую  портрет и пришлю его вам для согласования. Мы внесём правки в макет, если они понадобятся.</li>
        <li>После того, как вас полностью всё устроит, вы оплачиваете портрет, я отправляю его на производство и организую доставку в любую точку России. Через 3-6 дней посылка будет у вас :)</li>
    </ol>
</section>