<section class="workflow">
    <img class="workflow__image" src="assets/images/workflow/00.webp" width="640" height="420" alt="">
    <img class="workflow__image" src="assets/images/workflow/01.webp" width="640" height="420" alt="">
    <img class="workflow__image" src="assets/images/workflow/02.webp" width="640" height="420" alt="">
    <img class="workflow__image" src="assets/images/workflow/03.webp" width="640" height="420" alt="">
</section>