<!doctype html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ DATA.seo.title }}</title>
    <meta name="description" content="{{ DATA.seo.description }}" />
    <link rel="canonical" href="{{ DATA.seo.url }}" />
    {% include "./src/components/og.njk" %}    
    {% include "./src/components/favicon.njk" %}
  </head>
  <body>
    {% include "./src/components/yandex_metrika.njk" %}
    <div class="page">
      {% include "./src/components/hero.njk" %}
      {% include "./src/components/main.njk" %}
      {% include "./src/components/footer.njk" %}
      <script type="module" src="/index.ts"></script>
    </div>
  </body>
</html>